.home input {
    color: white !important;
}

.home button{
    margin-top: 10px !important;
}

.home a {
    width: 100%;
    text-decoration: none;
}

.home {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    max-width: 260px;
    margin: 0 auto;
    padding: 0 50px;
}

.App-logo {
    width: 250px;
    pointer-events: none;
}